 .resume3container{
  width: 70vw !important;
 margin-left:18vw !important;
height:auto !important;
 border: 3px solid rgb(4, 255, 0) !important;
padding-bottom: 6rem !important;
}  
/* Apply margin-right to all elements with class "skill-h" */
 .skill-h {
 margin-right: 4.1rem !important;
}
 
 
/* end template start  */
 .main_header {
 border-bottom: 0.8rem solid #000;  
} 

 
.multi-column-list {
 column-count: 2;
 column-gap: 0.5rem;
}


 
/* main page root  */

.card {
 border: none !important;
}

.card-overlay {
 background: rgba(159, 62, 53, 0.8);
 opacity: 0; /* Initially hidden */

 transition: opacity 0.3s;
}

.card:hover .card-overlay {
 opacity: 1; /* Show the pink overlay on hover */
}
 
 
 
 
 /* TemplateThird */
.TemplateThird{
   width: 50rem;
   max-height: 130vh !important;
}

 @media (min-width: 992px) {
  .TemplateSecond2{
    width: 80vw;
    display: flex !important;
 
   } 
   .pdfBtn{
    width: 30vw;
   }
  
}
 